@media (max-width: 500px) {
  .Input {
    width: 100px;
    border-radius: 8px;
  }
  .Input::placeholder {
    font-size: 18px;
  }
  .Idade {
    font-size: 55px;
  }
}
@media (max-width: 400px) {
  .Input {
    width: 80px;
  }
  .Idade {
    font-size: 45px;
  }
  .container {
    border-bottom-right-radius: 100px;
  }
  .barra_vertical {
    width: 40%;
  }
  .barra_vertical_2 {
    display: block;
  }
  .Card_input_data {
    justify-content: center;
  }
  .Form_card_input_data{
    justify-content: center;
  }
  .container {
    padding: 10px;
  }
}
