@media (max-width: 570px) {
  .conteiner_card {
    flex: 1 0 300px;
    border-bottom-right-radius: 90px;
  }
}
@media (max-width: 450px) {
  .Card_input_data {
    justify-content: center;
  }
  .Input {
    width: 80px;
    border-radius: 8px;
  }
  .Input::placeholder {
    font-size: 18px;
  }
  .barra_vertical {
    width: 40%;
  }
  .barra_vertical_2 {
    display: block;
  }
  .Idade {
    font-size: 55px;
  }
}
@media (max-width: 333px) {
  .Idade {
    font-size: 50px;
  }
}
